body{
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(233, 233, 233);
}

h1{
    margin: 0;
    background-image: url("https://cdn.pixabay.com/photo/2016/06/25/12/55/art-1478831_960_720.jpg");
    background-position: 5% 25%;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 10vh;
    text-decoration-line: underline;
}
p{
  margin: 0 auto;
  padding: 5vh;
  max-width: 40ch;
}
.container{
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}
#artPrompt{
  line-height: 2.5em;
  max-width:fit-content;
}
@media screen and (max-width:768px) {
  h1{
    background-position: 0 40%;
  }
}